{% extends 'base.html.twig' %}
{% block body %}
    <h1>Домашняя страница</h1>
    <p>{{ message }}</p>
    <blockquote cite="https://aldous-huxley.net">Если бы двери восприятия были чисты, все предстало бы человеку таким, как оно есть – бесконечным.</blockquote>
    <p>Задача выполнена на: <progress max="100" value="10">10%</progress></p>

    <div data-controller="hello">
        <input type="text">
        <button>Greet</button>
    </div>
{% endblock %}
