{% extends 'base.html.twig' %}

{% block body %}
    <div class="category-create">
        <h1 class="category-create_title">Создание Категории</h1>
    </div>

    <div class="breadcrumb-category">
        {{ include('components/breadcrumb.html.twig') }}
    </div>
    {{ include ('category/form/create.html.twig') }}
{% endblock %}
