{% extends 'admin.html.twig' %}

{% block body %}
    <div class="category-create">
        <h2 class="category-create_title">Редактирование Характеристики {{ property.name }}</h2>
    </div>
    {{ include ('properties/form/create.html.twig') }}
{% endblock %}
