{% extends 'base.html.twig' %}

{% block title %}Edit ProductPrice{% endblock %}

{% block body %}
    <h1>Edit ProductPrice</h1>

    {{ include('product_price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_price_index') }}">back to list</a>

    {{ include('product_price/_delete_form.html.twig') }}
{% endblock %}
