{% extends 'base.html.twig' %}

{% block title %}Новый продукт{% endblock %}

{% block body %}
    <h1>Создать новый продукт</h1>

    {{ form_start(form) }}

    {{ include('product/form/create.html.twig') }}
    {{ form_end(form) }}


{% endblock %}
