<nav class="navigation">
    <ul class="navigation_list">
        <li class="navigation_list-item">
            <a href="{{ path ('category_index') }}"> Категории </a>
        </li>
        <li class="navigation_list-item">
            <a href="{{ path ('category_create') }}"> Создать Категорию</a>
        </li>
    </ul>
</nav>
